// Specific CSS for your home-page
div {
  display: block;
}

.company-text {
  margin-top: 150px
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 87vh;
}

.company-text {
  text-align: center;
  color: white;
}

.home-form{
  margin-left: 250px;
}

.container{
  justify-content: space-around;
}

.search-card {
  margin-top: 20px;
}

.card-img {
  height: 200px;
  width: 300px;
}

.booking-instruction{
  margin-top: 30px;
}

.text-center {
  margin: 30px
}

.instruction-img {
  margin-left: 110px;
  height: 100px;
  width: 100px;
}


