<h1>Spaces#index</h1>

<ul>
  <% @spaces.each do |space| %>
    <%= image_tag image_url('http://static1.squarespace.com/static/5424db81e4b0d9410165ff00/54506bc3e4b0c5f11fd42a03/545feb7ee4b0a81640041257/1443556759058/HELEN-MILLS-Event-Space.jpg?format=1500w') %>
    <% end %>
</ul>
