<h1><%= @space.name %></h1>

<ul>
  <li>
    <p>Location: <%= @space.location %></p>
  </li>
  <li>
    <p>Category: <%= @space.category %></p>
  </li>
  <li>
    <p>Price: <%= @space.price %></p>
  </li>
</ul>



