
<div class="container">
  <h1>Confirm your booking</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-box">
        <h2>Select your date!</h2>
        <%= simple_form_for [@space, @booking] do |f| %>
          <%= f.input :date %>
          <%= f.submit "Book Now!", class: "btn btn-primary" %>
        <% end  %>
      </div>
    </div>
  </div>
</div>
