<div class="footer">
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>

    <div class="footer1">
      Get-Together © 2019 | Powered by Le Wagon!
    </div>
  </div>
</div>
