<h1>LISTINGS</h1>

<h2>MY SPACES</h2>

<% @spaces.each do |space| %>
  <%= space.name %>
  <% space.bookings.each do |booking| %>
    <%= booking.date %>
  <% end %>
  <%= link_to 'Edit', edit_space_path(space) %>
<% end %>




